@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
  font-family: Russo One;
}

body {
  user-select: none;
  background-color: #8d8d8d;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#by{
  text-align: center;
  font-family: emoji;;
}

.inner-container {
  outline: 5px solid rgb(36, 215, 81);          /*************/
  position: relative;
  width: 660px;
  text-align: center;
  background-color: #b3b3b3;
}
.inner-container .pad-bank {
  width: 332px;
  height: 272px;
  display: inline-block;
  margin: 20px;
}
.drum-pad {
  background-color: #8d8d8d;
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  padding-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 3px 3px 5px  #704a4d;
}
.drum-pad:active{
  background-color: aqua;
  height: 75px;
}
.drum-pad:hover{
  opacity: 0.8;
}

.inner-container .controls-container {
  width: 240px;
  height: 272px;
  display: inline-block;
  margin: 40px 20px 0 10px;
  vertical-align: top;                   /**********/
}
.inner-container .controls-container .control {
  width: 100px;
  margin: auto;
}
.inner-container .controls-container .control p {
  margin-bottom: 0;
}
.inner-container .controls-container #display {
  width: 200px;
  background-color: gray;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
}

.outer-select,
.inner-container .controls-container .control .select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}

.inner-select,
.inner-container .controls-container .control .select .inner {
  width: 23px;
  height: 19px;
  background: rgb(78, 142, 177);
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .inner-container {
    transform: scale(0.7);
  }
}
